/*Declare css variables*/
:root {
    /*Main background image*/
    --bg-image: url('./images/background.svg');

    /*Colors*/
    --primary-color: rgba(37, 7, 46, 1);

    --secondary-color: rgba(236, 0, 140, 1);
    --secondary-color-light: rgba(236, 0, 140, .8);
    --secondary-color-lighter: rgba(236, 0, 140, .6);
    --secondary-color-extra-light: rgba(236, 0, 140, .4);

    --tertiary-color: rgba(204, 200, 255, 1);
    --tertiary-color-light: rgba(204, 200, 255, .8);
    --tertiary-color-lighter: rgba(204, 200, 255, .5);
    --tertiary-color-extra-light: rgba(204, 200, 255, .1);

    --color-light: rgba(216, 216, 251, .1);


    /*Font Family*/
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondary: Helvetica;

    /*Font Sizes*/
    --font-huge: 28px;
    --font-large: 15px;
    --font-medium: 13px;
    --font-small: 12px;

    /*Font Weight*/
    --font-bold: 700;
    --font-semiBold: 600;
    --font-regular: 400;
}

/* Common styles, css reset*/
/*
Przeglądarki internetowe nadają znacznikom HTML wartości początkowe,
które się różnią w zależności od producenta (np. Chrome, Firefox, Opera, Internet Explorer, Microsoft Edge).
Dlatego popularną praktyką jest tworzenie tzw. resetów,
czyli plików CSS zawierających reguły, które nadpisują te wartości,
aby były one jednolite niezalenie od przeglądarki.

Więcej na ten temat: https://cssreset.com/what-is-a-css-reset/
*/

html {
    box-sizing: border-box;
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    scroll-behavior: smooth;
}
  
* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
ZAGADNIENIE PONADPROGRAMOWE

Rekomendowany zestaw właściwości, które pozwalają na ukrycie tekstu w taki sposób,
że będzie niewidoczny do standardowego użytkownika, a czytniki ekranowe wciąż będą go czytać.

Więcej na ten temat: https://webaim.org/techniques/css/invisiblecontent/
*/
.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*
Sekcja pomocnicza, aby zwizualizować pozycje głównych bloków strony. Będzie usunięta w następnych krokach.
*/
/* .page-header {
    background-color: #ffb1b1;
}

.page-content {
    background-color: #b0ffb0;
}

.page-footer {
    background-color: #7ba3ff;
} */

/* .content-section {
    background-color: #25072E;
} */
/* .content-section:nth-child(odd) {
    background-image: url('./images/background.svg');
} */
/*
Koniec sekcji pomocniczej
*/

/*
Ustawiając sekcje nagłówka i stopki w pozycji 'fixed' sprawiamy,
że niezależnie od pozycji paska przewijania elementy te będą znajdowały się
w tej samej pozycji względem okna przeglądarki.
Natomiast pozycję tę ustawiamy za pomocą parametrów 'top', 'bottom', 'right', 'left'.
*/
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

/*
Lewy margines ustawiony na kontenerze z główną zawartością strony sprawia,
że nie będzie ona nachodzić na nagłówek i stopkę niezależnie od pozycji paska przewijania.
Na projekcie graficznym sekcja menu ma szerokość około 170px i jest oddalona od krawędzi ekranu
o 50px, więc można założyć, że 220px marginesu będzie wartością stosunkowo bezpieczną.
Z kolei spady (padding) nadane na kontener wyznaczają minimalną odległość, na jaką będzie oddalona
treść strony od otaczających ją granic kontenera (wartość "0 10%" jest
skrótem od padding-top: 0, padding-bottom: 0, padding-left: 10%, padding-right: 10%).
Właściwość "text-align: right" przykleja zawartość do prawej strony
(oddziałuje na elementy, które są elementami inline'owymi, np. tekst, znaczniki <a>, <span> czy elementy z nadanym stylem "display: inline-block").
*/
.page-content {
    margin-left: 220px;
    padding: 0 10%;
    text-align: right;
}

/*
Projekt graficzny zakłada, że każda sekcja strony będzie wypełniać całą wysokość okna przeglądarki
lub więcej, jeśli zawartość danej sekcji jest wyższa. Dlatego świetnym rozwiązaniem
będzie użycie jednostki "vh", która oznacza 1% wysokości okna przeglądarki z właściwością "min-height",
która wymusza wysokość elementu na zadaną wartość lub wyższą.
*/
.content-section {
    min-height: 100vh;
}

.content-section__header {
    font-size: var(--font-huge);
    letter-spacing: 4.5px;
    line-height: 4;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.button {
    padding: 10px 15px;
    border: 1px solid var(--tertiary-color-extra-light);
    border-radius: 4px;
    font-size: var(--font-small);
    font-weight: var(--font-semiBold);
    text-transform: uppercase;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color .3s ease-in;
}

.button:hover,
.button:active {
    background-color: var(--tertiary-color-extra-light);
}

.button:focus {
    background-color: var(--tertiary-color-extra-light);
    outline-color: var(--tertiary-color);
}

.button:disabled,
.button:hover:disabled {
    color: var(--tertiary-color-lighter);
    background-color: var(--primary-color);
    cursor: not-allowed;
}

/* End of common styles */

/* Navigation Styles */

.page-navigation {
    margin-top: 15px;
}

.page-navigation__item:not(:last-child) {
    margin-bottom: 10px;
}

.page-navigation__item a {
    font-size: var(--font-medium);
    font-weight: var(--font-bold);
    letter-spacing: 6.7px;
    text-transform: uppercase;
    color: var(--secondary-color-light);
    text-decoration: none;
    transition: color .3s ease-out, letter-spacing .3s ease-out;
}

.page-navigation__item a:visited {
    color: var(--secondary-color-lighter);
}

.page-navigation__item a:hover,
.page-navigation__item a:active,
.page-navigation__item a:focus {
    color: var(--secondary-color);
    letter-spacing: 6.5px;
    outline: none;
}

.page-navigation__item a.isDisabled,
.page-navigation__item a.isDisabled:hover {
    color: var(--secondary-color-extra-light);
    letter-spacing: 6.7px;
    cursor: not-allowed;
}

/* Home section styles */

.band-members {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: inherit;
}

.band-members__image {
    opacity: .6;
    transition: opacity .3s ease-in;
}

.band-members__name,
.band-members__desc {
    opacity: 0;
    transform: translate(30px, 0);
    text-align: left;
    transition: opacity .3s ease-in;
}

.band-members__name {
    font-size: var(--font-large);
    font-weight: var(--font-bold);
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: var(--tertiary-color);
}

.band-members__desc {
    transform: translate(30px, -8px);
    font-size: var(--font-small);
    font-weight: var(--font-regular);
    letter-spacing: 3.5px;
    color: var(--tertiary-color-lighter);
}

.band-members__item:hover > * {
    opacity: 1;
}

/* About section styles */

.about-section {
    position: relative;
    width: 100%;
}

.about-section__img {
    border-top: 3px solid var(--secondary-color);
}

.about-section__desc {
    position: absolute;
    left: 8%;
    bottom: 21%;
    width: 405px;
    padding: 45px;
    border-bottom: 3px solid var(--secondary-color);
    text-align: left;
    background-color: var(--primary-color);
}

.about-section__desc-header {
    padding-bottom: 10px;
    font-size: var(--font-large);
    letter-spacing: 3.8px;
    color: var(--tertiary-color);
    text-transform: uppercase;
}

.about-section__desc-details {
    font-size: var(--font-medium);
    letter-spacing: 1.5px;
    color: var(--tertiary-color-light);
    line-height: 1.4;
}

/* Concerts section */

.concerts {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 40px;
    justify-content: flex-end;
}

.concerts__info {
    position: relative;
    padding: 15px 0;
    text-align: left;
}

.concerts__info .button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.concerts__image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.concerts__date, .concerts__location {
    padding: 0;
    margin: 0;
    font-size: var(--font-medium);
    line-height: 1.4;
}

.concerts__date {
    font-size: var(--font-large);
    font-weight: var(--font-bold);
    color: var(--tertiary-color);
    letter-spacing: 3.8px;
}

.concerts__location {
    font-weight: var(--font-semiBold);
    color: var(--tertiary-color-lighter);
    letter-spacing: 3.5px;
}

/* Video section styles */

.video-player {
    border-top: 3px solid var(--secondary-color);
}

/* Photos section styles*/

.gallery {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: flex-end;
    gap: 20px;
}

.gallery__item {
    border-top: 3px solid var(--secondary-color);
    transition: transform .2s ease-in;
}

.gallery__item:hover {
    transform: scale(1.02);
}

.gallery__image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Contact section styles */
.contact-section__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 30px;
    justify-content: flex-end;
}

.contact-section__address {
    justify-self: flex-start;
    align-self: center;
    font-size: var(--font-medium);
    font-style: normal;
    text-align: left;
    letter-spacing: 1.5px;
    color: var(--tertiary-color);
}

.contact-section__form {
    justify-self: flex-start;
}

.form {
    width: 100%;
}

.form__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-medium);
    letter-spacing: 1.5px;
    color: var(--tertiary-color);
}

.form__field:last-child {
    margin-top: 25px;
}

.form__label {
    line-height: 3;
}

.form__input {
    width: 55%;
    padding: 10px 0;
    border: 1px solid var(--tertiary-color-extra-light);
    border-radius: 4px;
    font-size: var(--font-medium);
    letter-spacing: 1.5px;
    color: var(--tertiary-color);
    background-color: var(--tertiary-color-extra-light);
}

.form__input:focus {
    outline-color: var(--tertiary-color);
}

/* Footer styles */

.social-links__item {
    width: 22px;
}

.social-links__item:not(:last-child) {
    margin-bottom: 10px;
}

.social-links__link {
    width: 100%;
}

.social-links__link:visited > .social-links__icon {
    opacity: .6;
}

.social-links__item:hover > .social-links__link > .social-links__icon,
.social-links__link:active > .social-links__icon,
.social-links__link:focus > .social-links__icon {
    opacity: 1;
}

.social-links__link.isDisabled > .social-links__icon,
.social-links__link.isDisabled:hover > .social-links__icon {
    opacity: .4;
    cursor: not-allowed;
}

.social-links__link:focus {
    outline: none;
}

.social-links__icon {
    display: inline-block;
    max-width: 100%;
    height: auto;
    opacity: .8;
    transition: opacity .3s ease-in;
}
